body {
background: #00557f;
color: #0B0B3D;
 font-family: "Montserrat", sans-serif;
 margin-bottom: 100px;
}

header {
border-bottom: solid 2px rgb(29, 20, 36);
padding: 10px;
font-size: 20px;
color: rgb(29, 20, 36);
}

h1 {
    font-size: 40px;
}

h2{
    font-size: 20px;
    margin-left: 20px;
}

img {
    height: 300px;
}

.Melhores {
    border: solid 10px green ;
}
.videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 10px;

}
.Boas img:hover {
    opacity: 0.5;
    border: 1px solid rgb(18, 47, 102);
    height: 300px;
    margin-left: 100px;
    margin-right: 100px;
}
.Boas {
    background-color: #2182a8;
  margin-top: 50px;
  padding-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
    
}

p {
    height: 100%;
}