body {
background: #00557f;
color: #0B0B3D;
 font-family: "Montserrat", sans-serif;
 margin-bottom: 100px;
}

header {
border-bottom: solid 2px rgb(29, 20, 36);
padding: 10px;
font-size: 20px;
color: rgb(29, 20, 36);
}

h1 {
    font-size: 40px;
}

h2{
    font-size: 20px;
}

img {
    height: 300px;
}

.videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;

}
.Boas img:hover {
    opacity: 0.5;
    border: 1px solid rgb(9, 9, 53);
    height: 300px;
}
.Boas {
    background-color: #2182a8;
    padding-top: 100px;
}