body {
    background: #00557f;
    color: #0B0B3D;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(29, 20, 36);
    padding: 10px;
    font-size: 20px;
    color: rgb(29, 20, 36);
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 20px;
    margin-left: 20px;
}

p {
    height: 100%;
}

p1 {
    margin-left: 20px;
}

img {
    height: 300px;
}

footer {
    opacity: 0.5;
    padding-top: 80px;
    padding-left: 50px;
    text-decoration: dotted;
}

.Melhores {
    border-left: solid 10px rgba(11, 23, 49, 0.466);
    padding-left: 10px;
}

.videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 10px;

}

.Boas img:hover {
    opacity: 0.5;
    border: 1px solid rgb(18, 47, 102);
    height: 300px;
    margin-left: 10px;
    margin-right: 10px;
}

.Boas {
    background-color: #2182a8;
    margin-top: 50px;
    padding-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.town {
    margin-bottom: 50px;
}

.sugar {
    margin-bottom: 50px;
}

.lisboa {
    margin-bottom: 50px;
}